
<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
   <!--Linking Bootstrap-->
  {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous"> --}}
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Assistant|Faster+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Aclonica|Berkshire+Swash|Suez+One|Viga&display=swap" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <title>Entertainment Scraper</title>

</head>

<div class="carousel carousel carousel-slider center">

    <a class="carousel-item">
          {{!-- <img src=""></a> --}}

    <img src=https://images.squarespace-cdn.com/content/v1/52322ee3e4b08e30927f06a3/1483730862093-KWEMQZDOBFGK094JP1R3/ke17ZwdGBToddI8pDm48kJUlZr2Ql5GtSKWrQpjur5t7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UfNdxJhjhuaNor070w_QAc94zjGLGXCa1tSmDVMXf8RUVhMJRmnnhuU1v2M8fLFyJw/image-asset.jpeg?format=750w"></a>
       <div class="carousel-fixed-item center">
      <p class=" brand-logo">Entertainment Scraper</p>
    </div>
<nav>
  <div class="nav-wrapper">
    {{!-- <a  class="brand-logo">Entertainment Scraper</a> --}}
    <ul class="right hide-on-med-and-down">
      <li><button class="waves-effect waves-light btn-small" id="home" href="/">Home</a></li>
      <li><button class="waves-effect waves-light btn-small" id="scrape-btn" href="#!">Discover more</a></li>
      <li><button class="waves-effect waves-light btn-small" id="delete-btn"  href="#!">Delete unsaved articles</a></li>

    </ul>
  </div>
</nav>


</div>

    

<body>
   

      
	{{{body}}}

   <!--Linking js page-->
  <script src="/app.js"></script>


  

   
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
       var instances = M.Carousel.init(elems);
         });

</script>

</body>
       
