<body>

    <div class="container">

        <div class="row">
            <div class="col-s12-m6">

                {{#each article}}
            <div class="cardContainer col s12 m6 l4 xl3 card-content valign-center ">
                <div class="card sticky-action col s12" style="overflow: visible;">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="https://static1.squarespace.com/static/52322ee3e4b08e30927f06a3/t/585742816b8f5b310007bbbc/1482113667526/image-5.gif?format=300w">

                        {{!-- <img src="https://static1.squarespace.com/static/52322ee3e4b08e30927f06a3/t/586ff5785016e1b34599ce07/1483732363742/R29AltMoji_Share_Instagram_GIF_pink.gif?format=300w"> --}}
                    </div>
                    <div class="card-content">
                        <div class="cardTitle"></div>
                        <div class="card-title activator truncate flexTitle ">{{this.title}}</div>
                        <div class="cardText card-content">
                        <p class="card-text"><Article Summary></Article> {{this.summary}}</p>

                        </div>
                         <div class="valign-wrapper">
                          <a  class ="btn btn-success liink valign-wrapper" href="https://www.refinery29.com/{{this.link}}"" class="card-link">
                            Read Article </a>
                        <a class="btn btn-success save valign-wrapper" data-id={{this._id}}>Save Article</a>
                    </div>
                    </div>
                    
                    </div>
                </div>
                {{/each}}

        </div>
    </div>

 </body>



