body {
    font-family: 'Assistant', sans-serif;
    background-color:white!important;}
.carousel{
height:  300px!important;
opacity: .86;

}
#container{
  margin-left: 50px;
  margin-right: 50px;
}
.card-title{
color:red!important;
font-weight: bold!important;

font-family: Arial, Helvetica, sans-serif;
text-align: center;
font-size: 15px!important;
}
.card-content{
  color:gray!important;
  font-weight: bold!important;
  min-height: 300px!important;
  
  font-size: 15px!important;
  padding:1em!important;
}
h5{
  color:red!important;
  font-weight: bold!important;
  font-size: 18px!important;
}
.card {
  background-color:white;
  border-color:grey!important ;
  border: 5px;
  border-style:solid!important; 
  -webkit-border-radius: 20px;


}
nav{
    background-color: transparent!important;
    text-align:left!important

}
.brand-logo{
  /* font-family: 'Berkshire Swash', cursive; */
  /* font-family: 'Viga', sans-serif; */
  font-family: 'Suez One', serif;
   /* color:white!important; */
   /* color:red!important; */
   color:red!important;
/* color:#ef4b4b!important; */
  font-size: 100px!important;
  font-weight: bold!;
  letter-spacing: 10px!important;


}


#saved {
  font-family: 'Faster One', cursive;
  font-size: 20px;
  text-align: center;
}

#scrape-btn{
  background-color: black!important;
  color:white!important;
  border-color: rgb(250, 157, 13)!important;
  margin-right: 15px!important;
  font-weight: bold!important;
  font-size: 16px!important;

}
#delete-btn {
  background-color: white!important;
  margin-right: 15px!important;
  font-weight: bold!important;
  font-size: 16px!important;
  color:#DB332E!important;
}
#home {
  font-weight: bold!important;
  background-color:red!important;
  color:white!important;
  font-weight: bold!important;
  margin-right: 15px!important;
  font-size: 16px!important;


}

#articles {
  display: inline-block;
  overflow: auto;
  margin-bottom: 10px!important;
  
}

#save-btn, .addNote, .delete, .save-note-btn, .delete-note-btn, .save {
  background-color:#DB332E!important;
  color:white!important;;
  font-size: 15px!important;
  font-weight: bold!important;
  -webkit-border-radius: 10px;




}
.btn{
  justify-content: center!important;
  height: 70px!important;
  /* display: flex; */
  /* width: 96%!important; */
}

.liink{
background-color: rgb(249, 212, 212)!important;
font-size: 15px!important;
margin-right: 8px!important;
font-weight: bold!important;
color:#DB332E!important;
-webkit-border-radius: 10px;

}
  



 img{
  object-fit: cover!important;


  /* object-fit: cover!important; */
 }
 .card .card-image img{
  min-height: 150px!important;
  width:100% ;
  -webkit-border-radius: 12px;


 }